<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../static/css/template.css" rel="stylesheet" type="text/css">

</head>

<body>
<div id="main">
	<div id="wrapper">
    	<div id="header">

        </div><!--End of header-->

        <div id="menu">
        	<ul id="u1">
            	<li id="l1"><a href="" id="a1">Home</a></li>
                <li id="l1"><a href="" id="a1">About</a></li>
                <li id="l1"><a href="" id="a1">Service</a></li>
                <li id="l1"><a href="" id="a1">Contact</a></li>
                <li id="l1"><a href="" id="a1">Login</a></li>
            </ul>
        </div><!--End of menu-->
        <div id="middle">
        	<div id="content1">
            	<h1 align="center"><u>About</u></h1>
                <p align="justify"></p>
            </div>
            <div id="content2">
                {% block m1 %}
                {% endblock %}

            </div>

        </div><!--End of middle-->
        <div id="footer">
        	<p>Copyright &copy; By VGT  </p>
        </div>


    </div><!--End of wrapper-->


</div><!--End of main-->
</body>
</html>